<form #f="ngForm" (submit)="submit(f)">
    <div class="form-group">
        <label for="courseName">
            Course Name
        </label>
        <input 
            ngModel 
            required 
            minlength="5"
            name="courseName" 
            id="courseName" 
            type="text" 
            #courseName="ngModel"
            class="form-control">
        <div class="alert alert-danger" 
        *ngIf="courseName.touched && !courseName.valid">
            <div *ngIf="courseName.errors && courseName.errors['required']">
                Course Name is required.
            </div>
            <div *ngIf="courseName.errors && courseName.errors['minlength']">
                    Course needs to have at least {{ courseName.errors['minlength'].requiredLength }} characters.
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="category">
            Category
        </label>
        <select 
            [(ngModel)]="selectedCategory" 
            required
            name="category" 
            id="category"
            #category="ngModel"
            type="text" 
            class="form-control">
            <option></option>
            <option *ngFor="let c of categories" [value]="c.id">{{ c.category }}</option>
        </select>
        <div class="alert alert-danger"*ngIf="category.touched && !category.valid">
            <div *ngIf="category.errors && category.errors['required']">
                Category is required.
            </div>
        </div>
    </div>
    <br />
<div class="checkbox">
<label>
    <input ngModel name="hasGuarantee" type="checkbox"> 30-day money-back guarantee
</label>
</div>
    <p>
        {{ f.value | json }}
    </p>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>