
<form [formGroup] = "form" (ngSubmit)="changePassword(form)">
    
<!-- Old Password -->
<div class="form-group">
    <label for="txtOldPassword">
        Old Password
    </label>
    <br />
    <input formControlName="oldPassword" class="form-control" type="text" id="txtOldPassword" 
    name="txtOldPassword" required minlength="3"> 
    <div class="alert alert-danger" *ngIf="oldPassword?.touched && oldPassword?.invalid">
        <div *ngIf="oldPassword?.errors?.['required']">
            Old password is required.
        </div>
        <!-- <div *ngIf="oldPassword?.errors?.['invalidOldPassword']">
            Old Password is invalid.
        </div> -->
    </div>   
</div>
<br />

<!-- New Password -->
<div class="form-group">
    <label for="txtNewPassword" >
        New Password
    </label>
    <br />
    <input formControlName="newPassword" class="form-control" type="text" id="txtNewPassword" name="txtNewPassword" 
    required minlength="3"> 
    <div class="alert alert-danger" *ngIf="newPassword?.touched && newPassword?.invalid">
        <div *ngIf="newPassword?.errors?.['required']">
            New password is required.
        </div>
    </div>      
</div>
<br />

<!-- Confirm New Password -->
<div class="form-group">
    <label for="txtConfirmPassword">
        Confirm Password
    </label>
    <br />
    <input  formControlName="confirmPassword" class="form-control" class="form-control" type="text" id="txtConfirmPassword" 
    name="txtConfirmPassword" 
     required minlength="3">    
    <div class="alert alert-danger" *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
        <div *ngIf="confirmPassword?.errors?.['required']">
            Confirm password is required.
        </div>
        <div>
            Passwords don't match.
        </div>
    </div>   
</div>
<br />
<p>
    {{ form.value | json}} <br />
    {{ newPassword?.touched}}
</p>

<br />
    <button class="btn btn-primary" id="btnChangePassword" name="btnChangePassword" type="submit" [disabled]="!form.valid">
        Change Password
    </button>
</form>
